name: Test
on:
  push:
    branches: [develop]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .nvmrc

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Get pnpm store directory
        shell: bash
        run: echo "PNPM_STORE=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5
        name: Cache pnpm
        with:
          path: ${{ env.PNPM_STORE }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install

      - name: Type check
        run: pnpm type-check

      - name: Test
        run: |
          pnpm build
          pnpm test

      - name: Lint
        run: pnpm lint
